body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}

.resume-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #00d2d3;
  color: #0a2540;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s ease;
}

.resume-btn:hover {
  background: white;
  color: #0a2540;
}


.hero {
  background: #0a2540;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  margin: 0;
  font-size: 40px;
}

.location {
  opacity: 0.8;
}

section {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  color: #0a2540;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #0a2540;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.grid li {
  background: white;
  padding: 10px;
  list-style: none;
  text-align: center;
}

footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 15px;
}
